/* #334364, #91B3CF, #FFFDE4, #FFEFE0, #DA8A8B, #343642 */
/*#38456E, #9BB5D4, #FFFDE7, #FFEFE3, #DD8D96, #393748 */

body {
  background-color: #334364;
}

#initialRow {
  margin-bottom: 0;
}

.sideNav {
  background-color: #91B3CF;
  height: 100vh;
  padding: 0;
  position: fixed;
}

.mainCont {
  background-color: #334364;
  height: 100vh;
}

.navCont {
  height: 100vh;
  padding: 0em !important;
}

.welcome {
  text-align: center;
  color: #FFF;
  width: 100%;
  height: 100vh;
  font-size: 1.6em;
}

.welcome div {
  position: absolute;
  width: 90%;
}

section {
  width: 100%;
  height: 100vh;
  outline: 1px solid black;
}

.btnSkills {
  background-color: #DA8A8B;
  font-size: 2em;
  float: left;
  margin: 0 0.3em;
}