/* #334364, #91B3CF, #FFFDE4, #FFEFE0, #DA8A8B, #343642 */
/*#38456E, #9BB5D4, #FFFDE7, #FFEFE3, #DD8D96, #393748 */
/* new pink f48fb1 */

body {
  font-family: 'Oswald', sans-serif;;
  color: #FFF;
  background-color: #343642;
}

nav, footer {
  font-family: 'Caveat', cursive;
  background-color: #343642;
  padding: 0 5em;
}

#mobile-demo {
  width: 10em;
  background-color: #9BB5D4;
}

#mobile-demo > li > a {
  font-size: 2em;
  color: #FFF;
}

#sidenav-overlay {
  z-index: 990;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 3em 1em;
  background-color: #91B3CF;
}

section:nth-child(2n+1) {
  background-color: #334364;
}

h3 {
  font-family: 'Caveat Brush', cursive;
}

.langbtn {
  background-color: #f48fb1 ;
}

#particles-js {
  padding: 0;
  padding-bottom: 2em;
  height: 100vh;
  background-color: #343642;
}

.home {
  position: absolute;
  width: 60%;
  margin: 15% 20%;
}

.welcome {
  background-color: #FFF;
  border-radius: 2em 10em;
  color: #334364;
  opacity: 0.7;
  margin: 0 auto;
  padding: 0.5em;
  margin-bottom: 1em;
}

p {
  font-size: 1.1em;
}

.pinkstuff {
  color: #f48fb1 ;
  font-size: 4em;
}

.cards {
  background-color: #343642;
  padding: 1em;
  text-transform: uppercase;
}

a {
  color: #f48fb1 ;
}

footer {
  height: 3em;
}
footer > div > div> p {
  margin: 0;
  line-height: 2.5;
}

.contactIcons {
  display: inline-flex
}

.contactIcons a {
  margin: 1em 3em;
}

.animatingstuff {
  position: relative;
  animation: ball 4s linear infinite;
}

@keyframes ball {
  0% {top: 50px; left: 50px; }
  25% {top: 50px; left: 200px; }
  50% {top: 200px; left: 200px; }
  75% {top: 200px; left: 50px; }
  100% {top: 50px; left: 50px; }

}